<div class="table-title">
  <div class="row mt-3 pt-3">
    <div class="col-sm-10">
      <h1>All Diagnosis Items</h1>
    </div>
    <div class="col-sm-2">
      <%= link_to "New Item", new_diagnosis_item_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Full Name of the Patient</th>
    <th>Full Name of the Physician</th>
    <th>Content</th>
    <th>Actions</th>
  </tr>
  <% @diagnosis_items.each do |diagnosis_item| %>
    <tr>
      <td><%= link_to diagnosis_item.id, diagnosis_item_path(diagnosis_item.id) %></td>
      <td><%= diagnosis_item.patient.full_name %></td>
      <td><%= diagnosis_item.physician.full_name %></td>
      <td><%= diagnosis_item.content %></td>
      <td>
        <%= link_to "Edit", edit_diagnosis_item_path(diagnosis_item.id), class: "btn btn-outline-primary" %>
        <%= link_to "Delete", diagnosis_item_path(diagnosis_item.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
      </td>
    </tr>
  <% end %>
</table>
