<div class="row g-0">
  <div class="col col-xs-4 col-sm-6 col-md-6 col-lg-4">
    <div class="p-3 border bg-light">
      <div class="card-header">Physician №<%= @physician.id %></div>
      <div class="card-body text-dark">
        <h5 class="card-title"><%= @physician.full_name %></h5>
        <p class="card-text">Phone number: <%= @physician.phone_number %></p>
        <p class="card-text">Level: <%= @physician.level %></p>
      </div>
      <% if can? :update || :destroy, @physicians %>
        <div class="card-footer bg-transparent border-dark">
          <%= link_to "Edit", edit_physician_path(@physician), class: "btn btn-outline-primary" %>
          <%= link_to "Delete", physician_path(@physician), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
        </div>
      <% end %>
    </div>
    <%= link_to "< Back", :back %> <br>
    <%= link_to "< Back to Physicians", physicians_path %>
    </div>
  </div>
</div>
