<div class="row g-0">
  <div class="col col-xs-4 col-sm-6 col-md-6 col-lg-4">
    <div class="p-3 border bg-light">
      <div class="card-header">Patient №<%= @patient.id %></div>
      <div class="card-body text-dark">
        <h5 class="card-title"> <%= @patient.full_name %> </h5>
        <p class="card-text">Email: <%= @patient.email %> </p>
        <p class="card-text">Age: <%= @patient.age %></p>
      </div>
      <div class="card-footer bg-transparent border-dark">
        <%= link_to "Edit", edit_patient_path(@patient), class: "btn btn-outline-primary" %>
        <%= link_to "Delete", patient_path(@patient), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
      </div>
    </div>
    <%= link_to "< Back", :back %> <br>
    <%= link_to "< Back to Patients", patients_path %>
    </div>
  </div>
</div>
