<div class="table-title">
  <div class="row mt-3 pt-3">
    <div class="col-sm-10">
      <h1>All Appointments</h1>
    </div>
    <% if can? :create, @appointments %>
      <div class="col-sm-2">
        <%= link_to "New Appointment", new_appointment_path, class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Appointment Date</th>
    <th>Full Name of the Patient</th>
    <th>Full Name of the Physician</th>
    <th>
    <% if can?(:update, @appointments) || can?(:destroy, @appointments) %>
      Actions
    <% end %>
    </th>
  </tr>
  <% @appointments.each do |appointment| %>
    <tr>
      <td> <%= link_to appointment.id, appointment_path(appointment.id) %> </td>
      <td> <%= appointment.appointment_date.strftime("%d %B %Y %H:%M") %> </td>
      <td> <%= appointment.patient.full_name %> </td>
      <td> <%= appointment.physician.full_name %> </td>
      <td>
      <% if can? :update, @appointments %>
          <%= link_to "Edit", edit_appointment_path(appointment.id), class: "btn btn-outline-primary" %>
      <% end %>
      <% if can? :destroy, @appointments %>
          <%= link_to "Delete", appointment_path(appointment.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>
